* {
    border: 2px solid red;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body > * {
    margin: 0;
    padding: 32px 200px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content:space-around;
    gap: 16px;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.header, .hero, .footer {
    background-color: #1f2937;
    display: flex;
    align-items: center;
}

.header {
    padding-block: 16px;
    justify-content: space-between;
}
.header .logo {
    color: #f9faf8;
    font-size: 24px;
}

/* .hero {
    justify-content: space-evenly;
} */

.hero-left {
    flex:1;
}

.hero-image  {
    width:50%;

}

.hero-main-text {
    font-size: 48px;
    color:#f9faf8;
    font-weight: bolder;
}

.hero-secondary-text {
    font-size: 18px;
    color:#e5e7eb;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.quote-text {
    font-size: 38px;
    font-style: italic;
    font-weight: light;
}

.quote-author {
    font-weight: bolder;
    text-align: right;
}

.call-to-action {
    background-color: #3882f6;
    border-radius: 6px;
    align-self: center;
    display: flex;
    align-items: center;
    margin: 64px 0;
    gap: 48px;
    color: #f9faf8;
}

.call-to-action-header {
    font-size: larger;
    font-weight: bolder;
}

.call-to-action-text {

}

.button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 4px;
    padding: 8px 32px;
    margin: 0;
    border: 1px#f9faf8;
}

.footer {
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}